

body{
  font-family: 'Roboto', sans-serif;
  background: transparent;
  text-align: center;
}

input[type=text] {

  font-family: 'Roboto', sans-serif;
  padding: 5px 5px;
  margin: 15px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-bottom: 2px solid #0099cc;

}

input[type=text]:focus {
  border: 2px solid #0099cc;
}

button[type=submit] {
  background-color: Transparent;
  padding: 10px 45.75%;
  margin: 15px 15px;
  box-sizing: border-box;
  border: 0px solid #0099cc;
  border-radius: 3px;
  outline: none;
  text-align: center;
}

button[type=submit]:focus {

  border: 1;


  }

#charttab {
  max-width: 1000px;
  margin: 15px auto;
  padding: 0px 0px 0px 0px;
  border-style: solid;
  border: 2px solid #0099cc;
  border-width: 2px;
  border-radius: 3px;
}

#inputtab {
  max-width: 950px;
  margin: 20px auto;
  padding: 0px 0px 0px 0px;
  border-style: solid;
  border: 2px solid #0099cc;
  border-width: 0px;
  border-radius: 3px;
}

#chartfrequency {
  max-width: 950px;
  margin: 20px auto;
  padding: 0px 0px 0px 0px;
  border-style: solid;
  border: 2px solid #0099cc;
  border-width: 0px;
  border-radius: 3px;
}

#chartsubjectivty {
  max-width: 950px;
  margin: 20px auto;
  padding: 0px 0px 0px 0px;
  border-style: solid;
  border: 2px solid #0099cc;
  border-width: 0px;
  border-radius: 3px;
}

#chartpolarity {
  max-width: 950px;
  margin: 20px auto;
  padding: 0px 0px 0px 0px;
  border-style: solid;
  border: 2px solid #0099cc;
  border-width: 0px;
  border-radius: 3px;
}

#chartscore {
 max-width: 950px;
  margin: 20px auto;
  padding: 0px 0px 0px 0px;
  border-style: solid;
  border: 2px solid #0099cc;
  border-width: 0px;
  border-radius: 3px;
}

#wordtreemap {
 max-width: 950px;
  margin: 20px auto;
  padding: 0px 0px 0px 0px;
  border-style: solid;
  border: 2px solid #0099cc;
  border-width: 0px;
  border-radius: 3px;
}

#numbertreemap {
 max-width: 950px;
  margin: 20px auto;
  padding: 0px 0px 0px 0px;
  border-style: solid;
  border: 2px solid #0099cc;
  border-width: 0px;
  border-radius: 3px;
}

#flairtreemap {
 max-width: 950px;
  margin: 20px auto;
  padding: 0px 0px 0px 0px;
  border-style: solid;
  border: 2px solid #0099cc;
  border-width: 0px;
  border-radius: 3px;
}

#userinput {
  max-width: 1000px;
  margin: 20px auto;
  padding: 0px 0px 0px 0px;
  border-style: solid;
  border: 2px solid #0099cc;
  border-width: 2px;
  border-radius: 3px;
}


