

body{
  font-family: 'Work Sans', sans-serif;
  background: #C0C0C0;
  text-align: center;
}

input[type=text] {

  padding: 13px 10px;
  margin: 13px 10;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-bottom: 1px solid red;
}

input[type=text]:focus {
  border: 0.1px solid red;
  background-color: #ccffcc;
}

button[type=submit] {

  padding: 15px 15px;
  margin: 15px 15;
  box-sizing: border-box;
  border: 1px solid red;
  outline: none;
}

button[type=submit]:focus {
  width:100px;
  height:50px;
  border: 0;

  }

#chart {
  max-width: 1000px;
  margin: 50px auto;
  padding: 25px 25px 0px 25px;
  border-style: solid;
  border: 1px solid red;
  border-width: 1px;

  #chart1 {
  max-width: 1000px;
  margin: 50px auto;
  padding: 25px 25px 0px 25px;
  border-style: solid;
  border: 1px solid red;
  border-width: 1px;
}

#userinput (
  max-width: 1000px;
  margin: 35px auto;
  border-style: solid;
  border-width: 1px;
)


